{% extends 'base.html.twig' %}

{%  block content %}
    <div class="section1">
        <video id="background-video" autoplay loop muted>
            <source src="{{ asset('images/tunisia.mp4') }}" type="video/mp4">
        </video>
    </div>



    <section class="ftco-section bg-light">

        <div class="container">



                <h1 class="heading mt-3"><a href="#">{{ blog.title }}</a></h1>
                <span class="tag">Tips, Travel</span>
                <div class="meta mb-3">
                    <div><a href="#">{{ blog.date|date('Y-m-d')  }}</a></div>

                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                    <h3 class="font-fantazy">{{ blog.description }}</h3>
                </div>
            <td>{% for image in blog.images %}
                <img  src="{{ asset ('/uploads/' ~ image.name ) }}" alt="image"
                     width="150" class="centerr">
                {% endfor %}




                            </div>

                        </div>

                    </div>



            </div>


            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            {#     <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li> #}
                            <li><a href="#">&gt;</a></li>
                        </ul>
                        <a href="{{ path('app_blog_index') }}">back to blogs</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock  %}